@font-face {
  font-family: "Circular";
  src: url("/font/CircularXXWeb-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/font/CircularXXWeb-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("/font/CircularXXWeb-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
  
  - minus the box-sizing: border-box;
*/

* {
  margin: 0;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1, .h1 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
}

h2, .h2 {
  font-size: 1.5;
  font-weight: 600;
  line-height: 1.1;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style: none;
}

/* Custom Properties */
:root {
  /* design tokens (value tokens) */
  --c-baseHue: 266;

  --cv-neutral-10: hsl(var(--c-baseHue) 100% 99.5%);
  --cv-neutral-20: hsl(var(--c-baseHue) 20% 96%);
  --cv-neutral-30: hsl(var(--c-baseHue) 26% 95%);
  --cv-neutral-50: hsl(calc(var(--c-baseHue) * 1.015) 19% 90%);
  --cv-neutral-80: hsl(calc(var(--c-baseHue) * 0.98) 3% 62%);
  --cv-neutral-90: hsl(calc(var(--c-baseHue) * 0.81) 8% 12%);

  --cv-purple: hsl(calc(var(--c-baseHue) * 0.96) 38% 45%);
  --cv-pink: hsl(calc(var(--c-baseHue) * 1.25) 80% 54%);
  --cv-yellow: hsl(calc(var(--c-baseHue) * 0.13) 95% 59%);
  
  /* design tokens (reference tokens) */
  --cr-data-1: var(--cv-purple);
  --cr-data-2: var(--cv-pink);
  --cr-data-3: var(--cv-yellow);

  --cr-warn: var(--cv-pink);

  --cr-background: var(--cv-neutral-30);
  --cr-onBackground: var(--cv-neutral-90);
  --cr-onBackground--muted: var(--cv-neutral-80);

  --cr-interaction: var(--cv-purple);
  --cr-onInteraction: var(--cv-neutral-30);
  --cr-interacting: var(--cv-pink);

  --cr-interaction--muted: var(--cv-neutral-20);
  --cr-onInteraction--muted: var(--cv-purple);

  --cr-button: var(--cr-interaction--muted);
  --cr-onButton: var(--cr-onInteraction--muted);

  --cr-button--primary: var(--cr-interaction);
  --cr-onButton--primary: var(--cr-onInteraction);

  --cr-button--secondary: var(--cv-neutral-90);
  --cr-onButton--secondary: var(--cv-neutral-10);

  --cr-card: var(--cv-neutral-10);
  --cr-card-border: var(--cv-neutral-50);
  --cr-card-border--selected: var(--cv-purple);

  --sv-base: max(62.5%, calc(0.6vh + 0.25rem)); /* 10px equivalent */

  --sr-font-base: 1.6rem;
  --sr-font-small: 1.4rem;

  --sr-card-radius: 0.8rem;
  --sr-button-radius: var(--sr-card-radius);
  --sr-font-default: var(--sv-base);
  --sr-card-gutter: 1.6rem;
  --sr-page-gutter: calc(var(--sr-card-gutter) * 2);
  --sr-button-gutter-x: 2.4rem;
  --sr-button-gutter-y: 0.6rem;
  --sr-grid-gutter: 0.8rem;
  --sr-input-gutter: calc(var(--sr-grid-gutter) * .5);

  --sr-icon: 2.4rem;

  /* base design */
  font-family: "Circular", system-ui, sans-serif;
  font-size: 62.5%; /* 10px */
  font-size: var(--sv-base);
  line-height: 1.5;
  font-weight: 350;
  letter-spacing: -0.005em;

  color-scheme: light dark;
  color: var(--cr-onBackground);
  background-color: var(--cr-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--cr-interaction);
}

body {
  font-size: var(--sr-font-base);
  padding: var(--sr-page-gutter);
}

details > summary {
  list-style: none;
  cursor: pointer;
}

details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}

details > summary::after {
  content: '';
  display: inline-block;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCBkPSJNMTIgMjJDNi40NzcxNSAyMiAyIDE3LjUyMjggMiAxMkMyIDYuNDc3MTUgNi40NzcxNSAyIDEyIDJDMTcuNTIyOCAyIDIyIDYuNDc3MTUgMjIgMTJDMjIgMTcuNTIyOCAxNy41MjI4IDIyIDEyIDIyWk0xMiAyMEMxNi40MTgzIDIwIDIwIDE2LjQxODMgMjAgMTJDMjAgNy41ODE3MiAxNi40MTgzIDQgMTIgNEM3LjU4MTcyIDQgNCA3LjU4MTcyIDQgMTJDNCAxNi40MTgzIDcuNTgxNzIgMjAgMTIgMjBaTTExIDE1SDEzVjE3SDExVjE1Wk0xMyAxMy4zNTUxVjE0SDExVjEyLjVDMTEgMTEuOTQ3NyAxMS40NDc3IDExLjUgMTIgMTEuNUMxMi44Mjg0IDExLjUgMTMuNSAxMC44Mjg0IDEzLjUgMTBDMTMuNSA5LjE3MTU3IDEyLjgyODQgOC41IDEyIDguNUMxMS4yNzIzIDguNSAxMC42NjU2IDkuMDE4MjMgMTAuNTI4OCA5LjcwNTc3TDguNTY3MzEgOS4zMTM0NkM4Ljg4NjM3IDcuNzA5MTkgMTAuMzAyIDYuNSAxMiA2LjVDMTMuOTMzIDYuNSAxNS41IDguMDY3IDE1LjUgMTBDMTUuNSAxMS41ODU1IDE0LjQ0NTcgMTIuOTI0OCAxMyAxMy4zNTUxWiI+PC9wYXRoPjwvc3ZnPg==");
  width: 1em;
  aspect-ratio: 1;
  vertical-align: middle;
  margin-left: 0.25em;
}

hr {
  border: none;
  border-top: 1px solid var(--cr-card-border);
  margin: var(--sr-grid-gutter) 0;
}

.t-discrete {
  font-size: var(--sr-font-small);
  color: var(--cr-onBackground--muted);
  font-weight: 350;
}

.t-strong {
  font-weight: 600;
  line-height: 1.2;
}

.button, button {
  position: relative;
  font-size: var(--sr-font-base);
  font-weight: normal;
  text-align: center;
  padding: var(--sr-button-gutter-y) var(--sr-button-gutter-x);
  background-color: var(--cr-button);
  color: var(--cr-onButton);
  cursor: pointer;
  transition: background-color 0.12s ease, color 0.12s ease;
  border-radius: var(--sr-button-radius);
  border: none;
  overflow: clip;
}

.button--secondary {
  background-color: var(--cr-button--secondary);
  color: var(--cr-onButton--secondary);
}

.button--full {
  display: block;
  width: 100%;
}

.button--text {
  background: none;
  padding: 0;
}

.button--danger {
  color: var(--cr-warn);
  font-size: 0.8em;
}

.button--right {
  display: block;
  margin-left: auto;
}

button::before, .button::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 50%;
  aspect-ratio: 1;
  background: var(--cv-pink);
  transform: translate(-50%, -50%) translateY(200%);
  border-radius: 50%;
  filter: blur(3rem);

  transition: transform .8s cubic-bezier(0.3, .7, 0, 1), filter 0.2s linear;
  pointer-events: none;
} 

button:hover::before,
.button:hover::before {
  transform: translate(-50%, -50%) translateY(-50%);
  filter: blur(4rem);
}

.button--primary {
  background-color: var(--cr-button--primary);
  color: var(--cr-onButton--primary);

}

.icon {
  display: block;
  width: var(--sr-icon);
  height: var(--sr-icon);
}

.l-horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin-right: calc(var(--sr-grid-gutter) * -1);
  margin-bottom: calc(var(--sr-grid-gutter) * -1);
}

.l-horizontal--center {
  align-items: center;
}

input[readonly] {
  background: none;
  border: none;
  appearance: none;
  outline: none;
}

input[type="text"],
input[type="number"] {
  border-radius: var(--sr-button-radius);
  border: none;
  box-shadow: inset 0 0 0 1px var(--cr-card-border);
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  --size: 1.5rem;
  --size-dot: 0.5rem;
  --size-track: 2rem;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;

  height: var(--size-track);
  display: block;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: var(--size-track);
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  /* Centers thumb on the track */

  /*custom styles*/
  background-color: var(--cr-background);
  height: var(--size);
  width: var(--size);
  box-shadow: inset 0 0 0 calc(calc(var(--size) - var(--size-dot)) / 2) var(--cr-interaction); 
  border-radius: 50%;

  margin-top: calc(var(--size-track) / 2 - var(--size) / 2);
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid var(--cr-interaction);
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: transparent;
  height: var(--size-track);
  top: 2rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none;

  /*custom styles*/
  background-color: var(--cr-background);
  height: var(--size);
  width: var(--size);
  box-shadow: inset 0 0 0 calc(calc(var(--size) - var(--size-dot)) / 2) var(--cr-interaction);
  border-radius: 50%;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 1px solid var(--cr-interaction);
  outline-offset: 0.125rem;
}

.t-center {
  text-align: center;
}


.l-stack {
  margin-top: calc(var(--sr-grid-gutter) * 2);
}

.l-stack--large {
  margin-top: calc(var(--sr-grid-gutter) * 3);
}

.l-vertical {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--sr-grid-gutter);
}

.l-horizontal > [class*="l-"] {
  margin-right: var(--sr-grid-gutter);
  margin-bottom: var(--sr-grid-gutter);
}

.l-1\/1 {
  flex: calc(100% - var(--sr-grid-gutter));
  width: calc(100% - var(--sr-grid-gutter));
}

.l-1\/2 {
  flex: 0 0 calc(50% - var(--sr-grid-gutter));
  width: calc(50% - var(--sr-grid-gutter));
}

.l-1\/4 {
  flex: 0 0 calc(25% - var(--sr-grid-gutter));
  width: calc(25% - var(--sr-grid-gutter));
}

.l-2\/3 {
  flex: 0 0 calc(66.666% - var(--sr-grid-gutter));
  width: calc(66.666% - var(--sr-grid-gutter));
}

.l-grow {
  flex-grow: 1;
}

.l-shrink {
  flex-shrink: 1;
}

@media screen and (max-width: 768px) {
  .l-1\/1\@mobile {
    flex: 0 0 calc(100% - var(--sr-grid-gutter));
    width: calc(100% - var(--sr-grid-gutter));
  }

  .l-1\/2\@mobile {
    flex: 0 0 calc(50% - var(--sr-grid-gutter));
    width: calc(50% - var(--sr-grid-gutter));
  }

  .l-1\/3\@mobile {
    flex: 0 0 calc(33.333% - var(--sr-grid-gutter));
    width: calc(33.333% - var(--sr-grid-gutter));
  }

  .l-2\/3\@mobile {
    flex: 0 0 calc(66.666% - var(--sr-grid-gutter));
    width: calc(66.666% - var(--sr-grid-gutter));
  }

  .l-1\/4\@mobile {
    flex: 0 0 calc(25% - var(--sr-grid-gutter));
    width: calc(25% - var(--sr-grid-gutter));
  }
}

.stretch-vertical {
  display: flex;
  align-items: stretch;
}

.stretch-vertical > * {
  flex: 1;
}